---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  modernize-*,
  readability-*,
  performance-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-identifier-length

WarningsAsErrors: >
  clang-diagnostic-*,
  clang-analyzer-*

HeaderFilterRegex: "src/.*\\.h$"

FormatStyle: "file"
